* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
body,
html {
  width: 100%;
  height: 100%;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  background-image: url(https://images.fanart.tv/fanart/coco-5edb8be74e666.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.main > .box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20%;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  font-size: 20px;
  color: white;
  margin: 20px;
}

input {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  outline: none;
  background: transparent;
  color: white;
  font-size: 16px;
  margin: 10px;
  width: 30vmax;
  border: none;
	border-bottom: 2px solid #D1D1D4;
}

input::placeholder {
  color: white;
  outline: none;
  border: none;
  font-size: 16px;
}

.right-img {
  width: 80%;
}
